
.muidocs-icon-custom-github:before {
    content: "\e625";
}
/* css file */
.disabled-link {
  pointer-events: none;
}
a[disabled] {
    pointer-events: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none !important;
}
html, body, iframe { height: 100%; }
